.notification{
    :global{
        .success{
            display: flex !important;

            .icon{
                color: #ffffff;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1rem;
                font-size: 30px;
                background-color: #2A9F2C;
            }

            .content{
                padding-left: 1rem;
                padding-right: 2rem;
                display: flex;
                align-items: center;
                background-color: #E2F0D9;


                p{
                    color: #385723;
                    padding: 0%;
                    margin: 0%;
                    // word-wrap: break-word;
                    max-width: 15rem !important;
                    min-width: 12rem !important;
                }
            }
        }

        .warning{
            display: flex !important;

            .icon{
                color: #ffffff;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1rem;
                font-size: 30px;
                background-color: #FFB600;
            }

            .content{
                padding-left: 1rem;
                padding-right: 2rem;
                display: flex;
                align-items: center;
                background-color: #FFF2CC;
                
                p{
                    color: #C55A11;
                    padding: 0%;
                    margin: 0%;
                    // word-wrap: break-word;
                    max-width: 15rem !important;
                    min-width: 12rem !important;
                }
            }
        }

        .info{
            display: flex !important;

            .icon{
                color: #ffffff;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 1rem;
                font-size: 30px;
                background-color: #52CADA;
            }

            .content{
                padding-left: 1rem;
                padding-right: 2rem;
                display: flex;
                align-items: center;
                background-color: #EAF7F7;
                
                p{
                    color: #697B97;
                    padding: 0%;
                    margin: 0%;
                    // word-wrap: break-word;
                    max-width: 15rem !important;
                    min-width: 12rem !important;
                }
            }
        }
    }
}