body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

select {
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  outline: none;
  -webkit-appearance:none;
  -moz-appearance:none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected{
  background-color: #ffffff !important;
  color: #ffc629 !important;
}

.ant-tree-title:hover{
  background-color: #ffffff !important;
}

.ant-collapse-content > .ant-collapse-content-box{
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.ant-collapse-icon-position-right > .ant-collapse-item > .ant-collapse-header{
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

.list-price-tag{
  position: absolute;
  margin-left: -50px;
}

.tp-15{
  top: 18px;
}

.filter-sticky{
  position: sticky;
  top: 180px
}

.ant-dropdown-placement-bottomLeft{
  /* left: 306px !important; */
}

.search-not-found{
  justify-content: center;
  -ms-flex-pack: center;
  -ms-flex-line-pack: center;
  align-content: center;

  /* margin-top: 10rem; */
  /* margin-bottom: 15rem; */
}

.search-not-found span{
  line-height: 5px;
  font-size: 20px;
  color: #63666A
}

.search-not-found img{
  margin: 20px;
}

button:hover{
  /* background-color: transparent; */
}

.checkout-container .ant-collapse > .ant-collapse-item > .ant-collapse-header{
  padding: 0px 16px;
}

.checkout-container .content .result-price strong{
  font-size: 20px;
}

.checkout-container .inzone-product p{
  color: red;
}

.checkout-container .content p{
  font-size: 13px;
}

.checkout-container .right-panel .title{
  text-transform: uppercase;
  font-size: 14px !important;
}

.ant-dropdown{
  z-index: 100 !important;
}