body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0 #ffffff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #fbbd2d; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fbd680; 
}

.globalSpin {
  width: 100%;
  margin: 40px 0 !important;
}

.page-header{
  width: 90%;
}

.product-filter-form{
  padding: 0% !important;
  margin: 0% !important;
}

.ant-table{
  line-height: 0.5 !important;
  font-size: 13px !important;
}

.ant-menu-submenu-popup{
  width: 250px !important;
}

.collapse{
  :global {
    .ant-collapse-header{
      padding: 5px 15px 5px 40px !important;
    }

    .ant-collapse-content-box{
      padding: 5px !important;
    }
  }
}